<!doctype html>

<title>~ Tractor Game ~</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<table>
	<tr>
		<td>Player</td>
		<td>Level</td>
	</tr>
{% for player_id in range(players|length) %}
	<tr>
		<td>{{ player_id }} {%if boss==player_id%}*{%endif%}</td>
		<td>{{ values[players[player_id].level] }}</td>
	</tr>
{% endfor %}
</table>

<table>
	<tr>
		<td>Trump</td>
		<td>{{trump_string}}</td>
	</tr>
</table>


<div style="border: 1px solid black; float:left">
	<div>
		<div>
			Player {{ current_player }}	~current player~
		</div>
		<form action="{{ url_for('bury_cards') }}" method="post">
		<div style="display:inline-block">
			{% for card in players[current_player].cards %}
			<div class="card-option">
				<div class="card-option-image">
					<img class = "card-image" src="{{ url_for('static', filename='images/'+card.cardIndex|string+'.gif') }}" />
				</div>
				<div class="card-option-checkbox">
					<input type="checkbox" name="card" value="{{ card.cardIndex }}">
				</div>
			</div>
			{% endfor %}	
		</div>
		<div style="display:inline-block">
			<input type="submit">
		</div>
		</form>
	</div>
</div>
